@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.3);
}
.landing {
  background: #fff;
}

.landing-text {
  display: flex;
  flex: 01 40vw;
  height: 50dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  /* border: solid; */
}
.landing-text h2 {
  color: #888;
}
a {
  text-decoration: none;
  color: #333;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  transition: background 700ms ease;
}
.btn:hover {
  background: #f0e9e9;
}
.landing h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}
.landing-image {
  background-image: url(./img/michael-henry-5OyGRn_r9Y4-unsplash.jpg);
  height: 50dvh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 1 60vw;
  margin: 0;
}
.images img {
  display: block;
  width: 100%;
}
header {
  padding: 1.5rem;
  text-align-last: center;
  background: #333;
  color: #fff;
}
header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.images .caption {
  padding: 0.8rem;
  text-align: center;
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}
footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
@media (min-width: 500px) {
  .landing {
    display: flex;
    height: 100%;
  }
  .landing-text {
    height: 100vh;
  }
  .landing-image {
    height: 100vh;
  }
}
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
